
#tapis {
    background: var(--background-tapis);
    padding: 30px;
    overflow: auto;
    /* max-width: 600px; */
    border-radius: 5px;
    width: fit-content;
}

.row {
    display: flex;
    box-sizing: border-box;
}

.big-squares-row {
    margin-left: var(--width-square);
}