body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  text-align: center;
}

#input_splits {
  margin: 50px 0px;
}

#spin-output {
  font-weight: bold;
  font-size: xx-large;
  height: 40px;
}

#bet-stats {
  width: 100%;
  overflow: auto;
  height: 30%;
  /* max-height: 50vh; */
}

.left-container {
  width: 100%;
}

.btn-delete {
  background: url("/src/assets/close.png") no-repeat;
  background-position: center;
  border: none;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  cursor: pointer;
  margin-left: 10px;
}

.row {
  display: flex;
}

#main {
  display: flex;
  flex-direction: column;
}

:root {
  --background-tapis: green;
  --height-square: 60px;
  --width-square: 60px;
  /* --hover-color: gold; */
  --hover-color: rgb(219, 186, 10);
  --color-square-red: rgb(186, 10, 3);
  --color-square-black: rgb(3, 11, 3);
  --color-square-0: rgb(37, 165, 37);
  --border-width-square: 1px;
}

.App {
  padding: 20px;
}